:root {
  /* LIGHT THEME COLORS */
  --whoogle-logo: #685e79;
  --whoogle-page-bg: #ffffff;
  --whoogle-element-bg: #685e79;
  --whoogle-text: #000000;
  --whoogle-contrast-text: #ffffff;
  --whoogle-secondary-text: #70757a;
  --whoogle-result-bg: #ffffff;
  --whoogle-result-title: #1967d2;
  --whoogle-result-url: #0d652d;
  --whoogle-result-visited: #4b11a8;
  --whoogle-divider: #dfe1e5;

  /* DARK THEME COLORS */
  --whoogle-dark-logo: #d1d1d1;
  --whoogle-dark-page-bg: #111;
  --whoogle-dark-element-bg: #111111;
  --whoogle-dark-text: #dddddd;
  --whoogle-dark-contrast-text: #aaaaaa;
  --whoogle-dark-secondary-text: #a8d4ff;
  --whoogle-dark-result-bg: #000;
  --whoogle-dark-result-title: #f5e0a1;
  --whoogle-dark-result-url: #f88;
  --whoogle-dark-result-visited: #fca9ff;
  --whoogle-dark-divider: #323232;
}
html,
:root {
  font-size: 100% !important;
}

#main > div > div > div > div > div > a {
  color: var(--whoogle-dark-text) !important;
}

a:link h3 div,
a:link div {
  line-height: 1.3;
}

a:link h3 div {
  font-size: 1.2rem;
}

a:link div {
  font-size: 1.1rem;
}

.s3v9rd {
  font-size: 1rem;
  line-height: 1.25;
}

#search-submit {
  background: #71397c !important;
  color: #fff !important;
  border: 0;
}

#search-bar,
.content,
.autocomplete-items div {
  background-color: var(--whoogle-dark-result-bg) !important;
}
